<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="source"  connectionString="Data Source=azuredbXYZ.database.windows.net;User ID=codehub; password=$123Pass!; Initial Catalog=AdventureWorksLT2012; Persist Security Info=True;Application Name=sqlBulkCopy;" providerName="System.Data.SqlClient" />
    <add name="destin"  connectionString="Data Source=azuredbXYZ.database.windows.net;User ID=codehub; password=$123Pass!; Initial Catalog=CHAdventureWorksDW; Persist Security Info=True;Application Name=sqlBulkCopy;" providerName="System.Data.SqlClient" />
  </connectionStrings>  
</configuration>